*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", Monaco, monospace;
   
  }
  .row {
    --bs-gutter-x: 0 !important;
    margin-right: 0;
    margin-left: 0;
  }
  .main-content {
    flex-grow: 1;
    background-color: #093605;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23030503'/%3E%3Cstop offset='1' stop-color='%23093605'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%231AFF2D' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231AFF2D' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 176px;
  }
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    flex-grow: 1;
    background-color: #093605;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23030503'/%3E%3Cstop offset='1' stop-color='%23093605'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%231AFF2D' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231AFF2D' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 176px;
  }
  .navbarLink{
    text-decoration: none;
}
  footer {
    background-color: black;
    background-image: linear-gradient(0deg, #000000 0%, #2d2d2d 100%);
    text-align: center;
    bottom: 0;
    width: 100%;
 
  }
  .button_slide {
    color: #FFF;
    border: 2px solid rgb(43, 146, 22);
    border-radius: 3%;
    padding: 15px 20px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #025c02;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .button_slide_account{
    margin-left: 130px;
   color:rgb(255, 255, 255);
    background-color: #000000;
    border: 2px solid rgb(43, 146, 22);
    border-radius: 3%;
    padding: 15px 20px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #025c02;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_down_account:hover{
    box-shadow: inset 0 100px 0 0 #018128;
    color: #000000;
  }
  
  .slide_right:hover {
    box-shadow: inset 500px 0 0 0 #018128;
    color: white;
  }
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #018128;
  }
  .boton{
 
    color: black;
    border: 2px solid rgb(43, 146, 22);
    border-radius: 5%;
    padding: 5px 15px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #025c02;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
.boton_eliminar{
 
    color: black;
    border: 2px solid #ac1813;
    border-radius: 5%;
    padding: 5px 15px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ac1813;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_right_eliminar:hover {
    box-shadow: inset 500px 0 0 0 #ac1813;
    color: white;
  }
  .slide_down_eliminar:hover {
    box-shadow: inset 0 100px 0 0 #ac1813;
    border: 2px solid rgb(255, 255, 255);
   color: white;
  }
  
  
  .boton_editar{
 
    color: black;
    border: 2px solid #0739a5;
    border-radius: 5%;
    padding: 5px 15px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0#0739a5;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  .slide_down_editar:hover {
    box-shadow: inset 0 100px 0 0#0739a5;
    border: 2px solid rgb(255, 255, 255);
   color: white;
  }